<!DOCTYPE html>
<html>
  <head>
    <title>Proxycrawl</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <nav>
          <ul class="nav navbar-nav">
            <li><%= link_to "Proxycrawl", root_path %></li>
            <li><%= link_to "Proxy list", proxies_path %></li>
          </ul>
        </nav>
      </div>
    </header>

    <div class="container">
      <%= flash_messages %>
      
      <%= yield %>
    </div>
  </body>
</html>
